name: TUnit Only Diagnostic

on:   
  workflow_dispatch:

env:
  PROJECT_NAME: Saucery
  SOLN_FILE: Saucery.sln                                                                        # full path to your solution file
  TUNIT_INT_DIR: Merlin.TUnit
  TUNIT_RD_INT_DIR: Merlin.TUnit.RealDevices
  COVERLET_DIR: ./TestResults
  M_TUNIT_PROJECT: Merlin.TUnit/Merlin.TUnit.csproj                                             # full path to xunit internal integration test project file
  M_RD_TUNIT_PROJECT: Merlin.TUnit.RealDevices/Merlin.TUnit.RealDevices.csproj                  # full path to xunit internal integration test project file
  SAUCE_USER_NAME: ${{ secrets.SAUCE_USER_NAME }}
  SAUCE_API_KEY: ${{ secrets.SAUCE_API_KEY }}
  CONFIG: Release
  APP_PACKAGE_PATH: 'published'                                                                 # set this to the path to your web app project, defaults to the repository root
  
jobs:
  tunit-integration-tests:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@v5

    - name: Setup dotnet
      uses: actions/setup-dotnet@v5
      with:
        # Check for latest at link at .NET 10 download page (https://dotnet.microsoft.com/download/dotnet/10.0)
        dotnet-version: 10.0.x
    
    - name: Compile solution
      run: dotnet build -c ${{ env.CONFIG }}
    
    - name: Run TUnit Integration Tests
      run: dotnet run -c ${{ env.CONFIG }} --project ${{ env.M_TUNIT_PROJECT }} -- --results-directory "TestResults" --log-level Debug --diagnostic

    - name: Display structure of downloaded files
      run: ls -R

    - name: Publish Artifacts
      uses: actions/upload-artifact@v5
      with:
        name: tunit-integration-log-diag
        path: ${{ env.COVERLET_DIR }}/**/*.diag

  tunit-real-integration-tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v5

    - name: Setup dotnet
      uses: actions/setup-dotnet@v5
      with:
        # Check for latest at link at .NET 10 download page (https://dotnet.microsoft.com/download/dotnet/10.0)
        dotnet-version: 10.0.x
    
    - name: Compile solution
      run: dotnet build -c ${{ env.CONFIG }}

    - name: Run TUnit Real Integration Tests
      run: dotnet run -c ${{ env.CONFIG }} --project ${{ env.M_RD_TUNIT_PROJECT }} -- --results-directory "TestResults" --log-level Debug --diagnostic
    
    - name: Publish Artifacts
      uses: actions/upload-artifact@v5
      with:
        name: tunit-real-integration-log-diag
        path: ${{ env.COVERLET_DIR }}/**/*.diag
    
    